
body {
    margin: 40px;
    background-image: url("../assets/background.svg");
    background-size: cover;
}

* {box-sizing: border-box;}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    font: 1.2em Helvetica, arial, sans-serif;
}

.wrapper > * {
    padding: 10px;
}

.fixbackground{
    background-color:rgba(183,54,37,255.3);
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
    max-width: 500px;
    color: rgba(219,211,184,255.3);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-head {
    grid-area: header;
}
.content {
    grid-area: content;
    min-height: 60vh;
}
.main-nav {
    grid-area: nav;
}
.side {
    grid-area: sidebar;
}
.ad {
    grid-area: ad;
}
.main-footer {
    grid-area: footer;
}
.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
            "header"
            "nav"
            "content"
            "sidebar"
            "ad"
            "footer";
}
/*@media (min-width: 500px) {*/
    /*.wrapper {*/
        /*grid-template-columns: 1fr 3fr;*/
        /*grid-template-areas:*/
                /*"header  header"*/
                /*"nav     nav"*/
                /*"sidebar content"*/
                /*"ad      footer";*/
    /*}*/
    /*nav ul {*/
        /*display: flex;*/
        /*justify-content: space-between;*/
    /*}*/
/*}*/
/*@media (min-width: 700px) {*/
    /*.wrapper {*/
        /*grid-template-columns: 1fr 4fr 1fr;*/
        /*grid-template-areas:*/
                /*"header header  header"*/
                /*"nav    content sidebar"*/
                /*"nav    content ad"*/
                /*"footer footer  footer"*/
    /*}*/
    /*nav ul {*/
        /*flex-direction: column;*/
    /*}*/
/*}*/

.image{
    width: 100%;
    height: auto;
}


.btn {
    background-color: rgba(183,54,37,255.3);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
